.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a >span{
  color:#dddddd;
}
a>span:hover {
  color: #feb518;
}
.spDish{
 
}
.spDish1 > h2{
  font-size: 38px;
  font-weight: 700;
  color: #feb518;
  line-height: 1.4em;
  font-family: 'Dancing Script', cursive;
}

.marginTopClass{
  margin-top: 100px;
}
.Menu1{
  margin-top: 100px;
  
}
.Navbarsticky{
  position: -webkit-fixed;
  position: fixed;
  top: 20;
  padding: 50px;
}

.whiteColor{
  color: red !important;
}

.text{
  color: gray;
  padding-bottom: 30px;
}

.loginPage{
  background-image: url("../public/images/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm{
display: flex;
align-items: center;
flex-direction: column;
height: 80vh;
width: 30vw;
background: Orgba(255, 255,255,0.15);
}